<%= render partial: "layouts/shared/arka_taraf/navbar" %>

<hr style="margin-top:100px;">

<div class="container">
        
    <p id="notice"><%= notice %></p>
    
    <h1>Paylasims</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th>Baslik</th>
          <th>Icerik</th>
          <th>Resim</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @paylasims.each do |paylasim| %>
          <tr>
            <td><%= paylasim.baslik %></td>
            <% if(paylasim.icerik.length>50) %>
                <td><%= paylasim.icerik[0..50]+"..." %></td>
            <% else %>
                <td><%= paylasim.icerik %></td>
            <% end %>
            
            <td><%= image_tag paylasim.resim.url(:thumb) if paylasim.resim? %> </td>
            <td><%= link_to 'Show', paylasim %></td>
            <td><%= link_to 'Edit', edit_paylasim_path(paylasim) %></td>
            <td><%= link_to 'Destroy', paylasim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Paylasim', new_paylasim_path %>

</div>