<div class="navbar navbar-default" role="navigation" style="background-color:gray; top:80px;"  >
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a  class="navbar-brand"></a>
				</div>
				<style>
    				.mail{
    				    color:lightgreen !important;
    				    transition:0.5s;
    				}
				    .menuu_li a{
    				    color:white !important;
    				    transition:0.5s;
				    }
				    .menuu_li a:hover{
				        color:lightgreen !important;
				        transition:0.5s;
				    }
				</style>
				<div class="collapse navbar-collapse" id="admin-navbar">
				    <ul class="nav navbar-nav navbar-right" >
                        <% if user_signed_in? %>
                            <li class="menuu_li">
                                <a href="/paylasims" class="smoothScroll" >Paylaşımlar</a>
                            </li>
                            <li class="menuu_li mail">
                                <a class="smoothScroll">Mail : <strong><%= current_user.email %></strong></a>
                            </li>
                            <li class="menuu_li">
                                <%= link_to 'Profil Güncelle', edit_user_registration_path, :class => 'smoothScroll'  %>    
                            </li>
                            <li class="menuu_li">
                                <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete, :class => 'smoothScroll'  %>
                            </li>
                        <% else %>
                            <li class="menuu_li">
                                <%= link_to"Giriş Yap", new_user_session_path, :class => 'smoothScroll'  %>
                            </li>
                            <li class="menuu_li">
                                <%= link_to "Kayıt Ol", new_user_registration_path, :class => 'smoothScroll' %>
                            </li>
                        <% end %> 
                        <li>
                            </hr>
                        </li>
                    </ul>
				</div>
			</div>
		</div>

